body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2; /* Pozadinska boja stranice */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff; /* Pozadinska boja kontejnera */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px; /* Širina kontejnera */
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="email"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: calc(100% - 22px); /* Širina input polja */
}

button {
    padding: 10px;
    background-color: #EE1E2D; /* Boja dugmeta */
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover {
    background-color: #cc1a26;
}

.signature-preview {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff; /* Pozadinska boja pregleda potpisa */
    overflow: auto; /* Sprečava izlaženje sadržaja iz okvira */
    max-height: 300px; /* Maksimalna visina pregleda potpisa */
}

.signature-preview img {
    max-width: 100%; /* Osigurava da slike ne izlaze iz pregleda */
}
